<style>
   .jumbotron {
    background-color: silver
   
    background-image: asset-url("image.jpg");
    background-size: cover;
    height: 300px;

   }

  
</style>



<div class="jumbotron center">
  <h1>Welcome to shoe items</h1>
  <h2>The best shoe app</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge"%></p> 
</div>